* {
    box-sizing: boder-box;
     }
h2 {
    text-align:center;
    font-size: 40px;
    text-transform: uppercase;
}
#TableContact {
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}
.form-inline {
    align-items: center;
    text-align: center;
}
.form-inline label {
    margin: 5px 10px 5px 0;
}
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline button {
    padding: 10px 20px;
    border: 1px solid #ddd;
}


#TableContact th, #TableContact td {
    text-aling: left;
    padding: 12px;
}

#TableContact tr {
    border-bottom: 1px solid #ddd;
}

#TableContact tr.header, #TableContact tr:hover {
    background-color: #f1f1f1;
}
